body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 1px solid black;
  width: 75%;
  margin-top: 25px;
}

th,
tr,
td {
  border: 1px solid;
  text-align: center;
}
